body {
    font-family: 'Open Sans';
    font-weight: 400;
}


:root {
    --primary-color-one: #5BACC3;
    /*  --primary-color-one: #5BACC3; */
    --primary-color-two: #FFF0ED;
    /* --Nitro-Pink: #FFF0ED; */
    --neutral-color-dark: #393939;
    --neutral-color-medium: #F7F7F7;
    --neural-color-light: #fff;
}


ul>li {
    list-style-type: none;
    text-transform: uppercase;
}