:root {
    --primary-color-one: #5BACC3;
    /*  --primary-color-one: #5BACC3; */
    --primary-color-two: #FFF0ED;
    /* --Nitro-Pink: #FFF0ED; */
    --neutral-color-dark: #393939;
    --neutral-color-medium: #F7F7F7;
    --neural-color-light: #fff;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3.75rem;
    /* font-size: 60px; */
}


h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.063rem;
    /* font-size: 33px; */
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.313;
    /* font-size: 21px; */
}

button {
    border: none;
    color: white;
    background-color: var(--primary-color-one);
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;

}





ul>li {
    list-style-type: none;
    text-transform: uppercase;
}