:root {
    --primary-color-one: #5BACC3;
    --primary-color-two: #FFF0ED;
    --neutral-color-dark: #393939;
    --neutral-color-medium: #F7F7F7;
    --neural-color-light: #fff;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    font-weight: 400;
}

h1,
h2 {
    font-size: 3.75rem;
}

h3 {
    font-size: 2.063rem;
}

button {
    width: 11.25rem;
    border: none;
    color: white;
    background-color: var(--primary-color-one);
    font-size: 21px;
    font-weight: 400;
    padding: 1.25em;
    margin: 1.25rem;
    text-transform: uppercase;
    display: block;
}

ul>li {
    list-style-type: none;
    text-transform: uppercase;
}