@import url("../css/global.css");

header {
    background-color: var(--primary-color-two);
    margin: 0;
    width: 100%;
}

.header__nav--alignment img,
.header__nav--alignment h2,
.header__nav--alignment nav {
    display: inline-block;
}

.header__nav--alignment img {
    padding-left: 1.25rem;
}

.header__nav--alignment nav {
    padding: 1.25rem;
    vertical-align: middle;
}

.header__nav--top li {
    display: inline-block;
    font-size: 1.313rem;
    margin-right: 2rem;
    text-transform: uppercase;
}

.header__nav--top li a {
    color: var(--neutral-color-dark);
    padding-left: 2rem;
    text-decoration: none;
}

.header__nav--top li:nth-child(3) a {
    color: var(--primary-color-one);
}

.hero {
    background-color: var(--primary-color-two);
    padding: 1.25rem;
    text-align: center;
    width: 100%;
}

.hero article {
    width: 100%;
}

.left-content,
.right-content {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 45%;
}

.left-content {
    padding-right: 2.5%;
}

.right-content {
    text-align: right;
}

.primary__title {
    color: var(--neutral-color-dark);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.left-content p {
    color: var(--neutral-color-dark);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero__img {
    height: auto;
    max-width: 100%;
}

.card {
    border-radius: 0.625rem;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    height: 440px;
    margin: 1.25rem;
    padding: 1.25rem;
    width: 20.625rem;
}

.card__img {
    background-position: center;
    background-size: cover;
    border-radius: 0.625rem;
    overflow: hidden;
}

section.products {
    background-color: var(--neutral-color-medium);
    padding: 1.25rem;
    text-align: center;
}

.products>.card {
    display: inline-block;
    vertical-align: middle;
}

.product__item--price {
    color: var(--primary-color-one);
}

div.card button.products__button {
    display: inline-block;
    text-align: center;
}

section.discount {
    margin: 1.25rem;
    padding: 1.25rem;
}

.discount__banner {
    background-color: var(--neutral-color-dark);
    color: white;
    font-size: 2.813rem;
    font-weight: 400;
    margin: 1.25em 0;
    padding: 1.25em 0;
    text-align: center;
    width: 90%;
}

footer {
    background-color: var(--primary-color-two);
    text-align: center;
}

footer div.address,
footer div.hours,
footer div.social {
    display: inline-block;
    margin: 0 3rem;
    text-align: center;
}

footer .bold {
    font-weight: 700;
}

img.icon {
    width: 5vh;
}