@import url("../css/global.css");


.icon {
    width: 3.125
}

.logo__text--style {
    font-family: "Open Sans Light", sans-serif;
    font-size: 2.063rem;
    font-weight: 300;
    color: var(--neutral-color-dark);
}

header__menu {
    padding-bottom: 2rem;
}

.header__nav--top {
    display: flex;
    flex-direction: column;
}

.header__nav--bottom {
    color: white;
    background-color: var(--neutral-color-dark);
    font-size: 1.313rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-right: 0;
}

.header__nav--bottom>li>a {
    color: white;
    font-size: 1.313rem;
    font-family: "Open Sans Regular", sans-serif;
    font-weight: 25rem;
    text-decoration: none;
}

h1.primary__title {
    font-family: "Open Sans Light", sans-serif;
    font-size: 3.75rem;
    font-weight: 300;
}


h1.primary__title--menu {
    background-color: var(--neutral-color-dark);
    color: white;
    font-family: "Open Sans Light", sans-serif;
    font-size: 3.75rem;
    font-weight: 300;
    width: 18.75rem;
    height: 12.5rem;
    text-align: center;
    display: block;
}

div.header__menu--hero-img {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/coffee-circle.jpg');
}

h1 {
    text-align: center;
    font-family: "Open Sans Light";
    font-weight: 3.75rem;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;

}

article h2 {
    font-family: "Open Sans Light", sans-serif;
    font-size: 3.75rem;
    font-weight: 300;
}

article h3 {
    font-family: "Open Sans Light", sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
}

article p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.225rem;
    font-weight: 400;
}

p.menu__item--description {
    font-style: italic;
    display: block;
    /* text-align: left; */
    text-align: center;
    width: 30%;
    margin-bottom: 0;
}

.price {
    display: inline-block;
    text-align: center;
    color: var(--primary-color-one);
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0;
}

article.menu__article--hot-drinks {
    background-color: var(--primary-color-two);
    display: inline-block;
    text-align: center;
    margin: 3rem 0;
}


article.menu__article--cold-drinks {
    background-color: var(--neutral-color-medium);
    display: inline-block;
    text-align: center;
    margin-bottom: 3rem;

}

article.menu__article--pastries {
    background-color: var(--primary-color-two);
    display: inline-block;
    text-align: center;
    margin-bottom: 3rem;
}



/* test css */