@import url("../css/global.css");

* {
    margin: 0;
    padding: 0;
}

header.header {
    display: inline-block;
    width: 100%;
    background-color: var(--primary-color-two);
}

.header__nav--alignment img {
    padding-right: 0;
    padding-left: 1.25rem;
    display: inline-block;
}

.header__nav--alignment h2 {
    padding-left: 0;
    display: inline-block;
}


.header__nav--alignment nav {
    display: inline-block;
    vertical-align: middle;
    padding: 1.25rem;

}

.header__nav--top li {
    display: inline-block;
    margin-right: 2rem
}


nav.ul.header__nav--top>li {
    display: inline-block;
}

.header__nav--top li {
    font-size: 1.313rem;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 1.25rem;
}

.header__nav--top li:nth-child(3) a {
    color: var(--primary-color-one);
}

.header__nav--top li a {
    color: var(--neutral-color-dark);
    text-decoration: none;
    padding-left: 2rem;
    display: inline;
}

.logo__text--style {
    font-size: 2.063rem;
    font-weight: 300;
    color: var(--neutral-color-dark);
    display: inline-block;
}

.header__nav--bottom {
    background-color: var(--neutral-color-dark);
    font-size: 1.313rem;
    width: 100%;
    height: 5rem;
    display: inline-block;
    text-align: center;
    padding: 1.5rem 0
}

.header__nav--bottom li {
    font-size: 1.313rem;
    text-transform: uppercase;
    display: inline-block;
    padding-left: 2rem;

}

.header__nav--bottom li a {
    color: white;
    text-decoration: none;
    border-left: 4px solid var(--primary-color-one);
    padding-left: 1.25rem;
}

h1.primary__title {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}


h1.primary__title--menu {
    background-color: var(--neutral-color-dark);
    color: white;
    font-size: 3.75rem;
    font-weight: 300;
    width: 18.75rem;
    height: 12.5rem;
    text-align: center;
    display: relative;
    text-transform: uppercase;
}

div.header--hero-img {
    width: 100%;

    height: calc((700 / 900) * 100vh);
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/coffee-circle.jpg');
}

h1 {
    text-align: center;
    font-family: "Open Sans Light";
    font-weight: 3.75rem;
}



.menu>article {
    margin: 0 auto;
}

article.menu__article--hot-drinks {
    background-color: var(--primary-color-two);
    display: block;
    text-align: center;
}

article.menu__article--hot-drinks h2 {
    padding: 1.75rem 0;
}

article.menu__article--hot-drinks h3 {
    padding: .25rem 0;
}

article.menu__article--cold-drinks {
    background-color: var(--neutral-color-medium);
    display: inline-block;
    text-align: center;
}

article.menu__article--cold-drinks h2 {
    padding: 1.75rem 0;
}

article.menu__article--cold-drinks h3 {
    padding: .25rem 0;
}

article.menu__article--pastries {
    background-color: var(--primary-color-two);
    display: block;
    text-align: center;
}

article.menu__article--pastries h2 {
    padding: 1.75rem 0;
}

article.menu__article--pastries h3 {
    padding: 2rem 0;
}

p.menu__item--description {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 30%;

}

.price__menu--item {
    display: block;
    text-align: center;
    color: var(--primary-color-one);
    padding-bottom: 1.5rem;

}

.icon {
    width: 3.125
}